<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .field {
    margin-bottom: 20px;
  }

  .field label {
    display: block;
    font-weight: bold;
  }

  .field input[type="email"],
  .field input[type="text"],
  .field input[type="password"] {
    width: 120%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .emphasis {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }

  .actions {
    margin-top: 20px;
  }

  .actions input[type="submit"] {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .actions input[type="submit"]:hover {
    background-color: #006400;
  }

  .actions a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
  }

  .actions a:hover {
    text-decoration: underline;
  }

  .Sing_up {
  margin-top: 480px;
  height: 30px;
}
</style>





<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    
  </div>

  <div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
  </div>
  <div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class = "Sing_up">
<%= render "devise/shared/links" %>
</div>
</body>
</html>