<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: bold;
}

.field input[type="email"],
.field input[type="password"] {
  width: 120%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.actions {
  margin-top: 20px;
}

.actions input[type="submit"] {
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #006400;
}

.actions a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

.actions a:hover {
  text-decoration: underline;
}

.Sing_up {
  margin-top: 250px;
  height: 30px;
}
</style>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class = "Sing_up">
<%= render "devise/shared/links" %>
</div>

</body>
</html>