<p style="color: green"><%= notice %></p>

<%= link_to 'Мой профиль', profile_path %>
<%= link_to 'Модератор', :admin_page %>

<h1>Все игры</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Подробнее", product %>
    </p>
  <% end %>
</div>