<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <% if @user_buy_current_product %>
    <%= link_to "Вернуть игру", products_users_cancel_path(@product) %> |
  <% else %>
    <%= link_to "Купить", products_users_buy_path(@product) %> |
<% end %>
  <%= link_to "Вернуться ко всем играм", products_path %>

</div>