<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p><strong>Цена:</strong> <%= @product.price %></p>

<% if user_signed_in? %>
  <p><%= link_to 'Редактировать', edit_product_path(@product) %></p>
  <%= button_to "Удалить", product_path(@product), data: { confirm: "Вы уверены?", turbo_confirm: "Вы уверены?" }, method: :delete %>
<% end %>